attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
iniconfig==1.1.1
maturin==0.12.16
numpy==1.22.3
onnx==1.11.0
packaging==21.3
Pillow==9.3.0
pluggy==1.0.0
protobuf==3.20.1
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
requests==2.27.1
tabulate==0.8.9
tomli==2.0.1
torch==1.11.0
torchvision==0.12.0
typing_extensions==4.2.0
urllib3==1.26.9
